
a {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 35%;
    text-align: left;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    opacity: .6;
    padding: 10px;
  }
  
  #arjsDebugUIContainer {
    display: none;
  }